
	<div class="row">
		<div class="col m8 s12">
			<ul class="collection" ng-repeat = "t in listData">
				<li class="collection-item">
					<div class="row" ng-click="goToRepo(t.lan)">
						<div class="col s4"><img src="{{t.img_url}}" class="responsive-img" height="70px" width="70px"/></div>
						<div class="col s8"><b>{{t.lan}}</b></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col m4 s12">
			<ul class="collection">
				<li class="collection-item">
					<div><strong>Languages</strong></div>
					<table>
						<tbody>
							<tr ng-repeat="l in listData">
								<td>{{l.lan}}</td>
								<td>{{l.rcount}}</td>
							</tr>
						</tbody>
					</table>
				</li>		
			</ul>	
		</div>
	</div>
